{% extends 'base.html' %}

{% block body %}
    <form>
        <header>
            <nav>
                <button class="cancel">
                    <i class="fi fi-rr-cross"></i>
                </button>
                <a href="/">
                    <img class= "logo" src= "../static/assets/mrc_logo.png">
                </a>
                <button type="submit" class="submit">
                    <i class="fi fi-rr-check"></i>
                </button>
            </nav> 
        </header>
    
        <label for="id">STUDENT ID</label><br>
        <input type="text" id="id" name="id" placeholder="Enter the Students ID number"><br>
        <label for="sname">STUDENT NAME</label><br>
        <input type="text" id="sname" name="sname" placeholder="Enter the Students name"><br>
        <label for="department">DEPARTMENT</label><br>
        <select id="department" name="department">
            <option selected disabled hidden>Select your Department</option>
            <option value="employability">Employability</option>
            <option value="services">Student Services</option>
            <option value="hospitality">Hospitality</option>
            <option value="health">Health Care Practice</option>
            <option value="marketing">Business Marketing</option>
            <option value="welfare">Welfare</option>
        </select><br>
        <label for="initiative">INTITIATIVE</label><br>
        <select id="initiative" name="initiative">
            <option selected disabled hidden>Select an initiative</option>
            <option value="mentoring">Mentoring</option>
            <option value="tutoring">Tutoring</option>
            <option value="feedback">Feedback</option>
            <option value="oneToOne">One to One Support</option>
        </select><br>
        <label for="time">TIME SPENT (MINUTES)</label><br>
        <select id="time" name="time">
            <option selected disabled hidden>Select the amount of time it took</option>
            <option value="fifteen">15</option>
            <option value="thirty">30</option>
            <option value="sixty">60</option>
        </select><br>
        <label for="target">TARGET</label><br>
        <select id="target" name="target">
            <option selected disabled hidden>Select a target</option>
            <option value="pts1">PTS1</option>
            <option value="pts2">PTS2</option>
            <option value="pts3">PTS3</option>
            <option value="pts4">PTS4</option>
            <option value="pts5">PTS5</option>
            <option value="ptp1">PTP1</option>
            <option value="ptp2">PTP2</option>
            <option value="ptp3">PTP3</option>
        </select><br>
    </form>
{% endblock %}